@font-face {
    font-family: ir;
    src: url(../font/Dirooz.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    display: block;
}

body{
    font-family: ir;
}
::selection{
    background-color: black;
    color: red ;
}

a{
    text-decoration: none;
    color: white;
}
#navar .logo{
    display: inline;
    float: left;
    color: white;
    padding: 11px 40px;
    
}
#navar .logo:hover{
    transition:1s;
    transform: rotate(360deg);
    color: yellow;
}



#navar{
    width: 100%;
    height: 66px;
    background-color:#0c0341 ;
}
#navar ul {
    list-style: none;
    float: right;
}
      
#navar ul li {
    float: right;
}
      
#navar ul li a {
    display: block;
    padding: 19px 44px;
    text-align: center;
    margin-right: 0 10px;
}
#navar ul li a:hover, 
#navar ul li a.current {
  background: #041a74;
  color: #fff;
}



.secdiv{
    width: 100%;
    height: 30rem;
    background:url('../img/showcase.jpg')no-repeat center center/cover;
    opacity: 0.8;
    overflow: auto;
    text-align: center;
    padding: 150px 0;
    color: white;
}

.secdiv1{
    width: 50%;
    height: 500px;
    background:url('../img/photo-1.jpg')no-repeat center center/cover;
    float: left;
    display: inline;
    opacity: 0.8;
    color: white;
    text-align: center;
    padding: 175px 0;
}
.secdiv1 h2,
.btn {
    padding: 5px 19px;
}
.secdiv1 h2{
    padding-bottom: 25px;
   
    font-size: xx-large;
}


/*================ buten ======= */

.btn{
    border-radius: 2px;
  background-color: #fa3a00;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 18px;
  padding: 19px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.btn span{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.btn span::after{
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

   
.btn:hover span{
    padding-right: 25px;
}
.btn:hover span::after{

    opacity: 1;
    right: 0;
}



.secdiv2{
    width: 50%;
    height: 500px;
    background-color:#100c24;
    float: right;
    text-align: center;
    padding: 100px 0;
    display: inline;
    color: white;
}

.middel{
    padding: 52px 0;

}



#fotdiv{
    padding: 0;
    width: 100%;
    height: 54px;
    background-color: #0c0341;
    float: right;
    text-align: center;
}
#fotdiv h1 a:hover{
    color: yellow;
}




/* ============================form    2 ===================================== */


.sechd{
    width: 100%;
    min-height: 100%;
    text-align: center;
}

.icon i{
    padding: 24px 0;
    font-size:100px ;
}

#abut{
    width: 100%;
    height: 35rem;
    background: url('../img/test-bg.jpg')no-repeat center center/cover;
    opacity: 0.8;
}
#abut .man{
    color: white;
    width: 60%;
    height: 200px;
    padding: 163px 0;
    text-align: center;
    margin:auto;
    margin-top: 20px;
    
}

#abut .mtabut{
    margin:  auto;
    padding: 10px 0;
    width: 50%;
    height: 109px;
    
    color: white;
    direction: rtl;
    text-align: center;
}






/* ========================form poshtibani ============ */

.inputs input[type=text],input[type=email],textarea{
    outline: none;
    display: block;
    text-align: right;
    margin: 62px auto;
    padding: 6px 47px;
    border: none;
    border-top: 2px solid blue;
    border-bottom: 2px solid blue;
    font-size: 17px;
}

.inputs input[type=text]:focus{
    border-top: 4px dashed blue;
    border-bottom: 4px dashed blue;
}

.inputs input[type=email]:focus{
    border-top: 4px dashed blue;
    border-bottom: 4px dashed blue;
}

.inputs textarea{
    resize: none;
    border: 2px solid blue;
}

.inputs textarea:focus{
    border: 4px dashed blue;
}


.inputs input[type=button]{
    outline: none;
    display: block;
    text-align: right;
    margin: 62px auto;
    padding:15px 63px;
    border: none;
    border-radius: 5px;
    background: rgb(2,39,125);
    background: linear-gradient(0deg, rgba(2,39,125,1) 25%, rgba(78,181,249,1) 58%);
    font-size: 20px;
    cursor: pointer;
}
.inputs input[type=button]:hover{
    background: rgb(78,181,249);
    background: linear-gradient(0deg, rgba(78,181,249,1) 25%, rgba(2,39,125,1) 64%);
}

.inputs{
    margin: 68px 0;
    width: 100%;
    height: 33rem;
    
    
}




/* =============form project============= */

#secdivk{
    background: url('../img/1102006.jpg')no-repeat center center/cover;;
    width: 100%;
    height: 537px;
    text-align: center;
    color:white;
    opacity: 0.8;
}
.prclass ul li{
    list-style:none;
    padding: 23px 0;
    margin: 25px 0 ;
}
.prclass li{
    border:2px solid white;
}

.prclass li:hover{
    border:4px solid lime;
}

.prclass{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    text-align: center;
}



/* ===========sabtproject============== */

.divform{
    width: 50%;
    height: 719px;
    margin: auto;
    text-align: center;
        
}

.divform input ,textarea{
    border: 2px solid slategrey;
    text-align: right;
    margin: 27px auto;
    padding: 19px 15px;
    font-size: 18px;
    resize: none;
    outline: none;
}

.divform input[type=text]:focus{
    border: 2px solid green;
}

.divform input[type=email]:focus{
    border: 2px solid green;
}

.divform input[type=tel]:focus{
    border: 2px solid green;
}

.divform textarea:focus{
    border: 2px solid green;    
}

.divform input[type=button]{
    padding:3px 28px;
    margin: auto;
    border: none;
    background-color:#111117 ;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.divform input[type=button]:hover{
    background-color: white;
    color: #111117;
    border:1px solid #111117;

}
